<a href="https://colab.research.google.com/github/jngrekta/interactive-coding-challenges/blob/master/Python_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question1
## Use python lists and make an list of numbers. Write a function which returns sum of the list of numbers.

In [ ]:
# Ans 1:
l1 = [4, 5, 7, 8, 89, 50, -2]

def sum_of_num(l):
  sum = 0
  for i in l:
    sum += i
  return sum

sum_of_num(l1)

161

# Question2 
## Setup a dict structure like this in python. <br> Dict1: (this is a key, value pair of user id and username) <br> {“1” : “name1”,“2” : “name2”,“3” : “name3”} <br> Dict2: (this is a key value pair of user id and exam score) <br> {“1” : 50, “2” : 60, “3” : 70} <br> These are just sample data assume there are hundreds of users. Write a function in python, which will return maximum i.e function should return dictionary like <br> {“3” : 70}

In [ ]:
# Ans 2:
d1 = {"1": "name1", "2": "name2", "3": "name3", "4": "name4", "5": "name5"}

d2 = {"1": 100, "2": 60, "3": 70, "4": 930, "5": 300}

def max_score(d):
  out = {}
  k = max(d, key=d.get)
  out[k] = d[k]
  return out

max_score(d2)

{'4': 930}

# Question 3
## Assume we have list like this <br> [0,0,0,1,1,1,0,0,0,1,1,0,1,1,1,1,0,0,1,1]
## Basically a list of zero’s and one’s. Write a python function to the number of maximum consecutive  one’s present in the array. <br> E.g output for the above array would be 4

In [ ]:
# Ans 3:
l1 = [0,0,0,1,1,1,0,0,0,1,1,1,0,0,1,0,1,1,1,1,0,0,1,1,1,1,1,1,1, 0, 1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,0]

def max_consecutive_one(l):
  global_count = 0
  count = 0
  if 1 not in l:
    return 0
  else:
    for i in l:
      if i == 1:
        count += 1
      else:
        count = 0
      if count > global_count:
        global_count = count

  return global_count

max_consecutive_one(l1)

11

# Question 4
## Design a mysql database. Requirements are as follows: <br> We have a user entity with columns username, password. Every user can have multiple addresses. Address entity will have column street, pincode, country, state, phone no. So one user can have multiple addresses. 
## Design a db structure for this using create table sql syntax and submit that.
## Next,
## Write a route in flask or django GET, POST route to save a user, login a user, add/update address for that user.

In [ ]:
# Ans 4:
# DB Structure
CREATE TABLE User (
    UserID int NOT NULL,
    UserName varchar,
    Password varchar,
    PRIMARY KEY (UserID)
);

CREATE TABLE Address (
    UserID int NOT NULL,
    AddressID int NOT NULL,
    Street varchar,
    Pincode int,
    Country varchar,
    State varchar,
    PhoneNo int,
    PRIMARY KEY (AddressID)
    FOREIGN KEY (UserID) REFERENCES User(UserID)
);

# Flask APP
from flask import Flask, request
from flask_mysqldb import MySQL
app = Flask(__name__)

app.config['MYSQL_HOST'] = 'localhost'
app.config['MYSQL_USER'] = 'root'
app.config['MYSQL_PASSWORD'] = 'root'
app.config['MYSQL_DB'] = 'DB'

mysql = MySQL(app)


@app.route('/add_user', methods=['POST'])
def add_user():
  user_details = request.get_json()
  username = user_details['username']
  password = user_details['passwoord']
  address = user_details['address']
  cur = mysql.connection.cursor()
  cur.execute("INSERT INTO Users(Username, Password, Address) VALUES ({}, {}, {})".format(username, password, address))
  mysql.connection.commit()
  cur.close()
  return 'user added successfully.'


@app.route('/login', methods=['POST'])
def login():
   input_data = request.get_json()
   username = input_data["username"]
   password = input_data["password"]

   query = "select Username, Password from Users where Username = '{}' and Password = '{}'".format(username, password)
   cur.execute(query)
   fetched_data = cur.fetchall()

   if len(fetched_data) == 1:
     return {"status": "True", "message": "user logged in successfully."}
    else:
      return {"status": "False"}


@app.route('/update_address', methods=['POST'])
def update_address():
  try:
    input_data = request.get_json()
    username = input_data["username"]
    password = input_data["password"]
    address = input_data["address"]
    # update address
    query = "UPDATE Users SET Address = '{}' where Username = '{}' and Password = '{}'".format(address, username, password)
    cur.execute(query)
    mysql.connection.commit()
    cur.close()
    return {"status": "True", "message": "address updated successfully"}
  except Exception:
    return {"status": "False"}


if __name__ == '__main__':
    app.run()